* {
  box-sizing: border-box;
}

body {
  --deepGreen: #0f1b07;
  --plants: #5c821a;
  --newGrowth: #c6d166;
  --blanco: #FFFFFF;
  --Arial: font-family: Arial, Helvetica, sans-serif;
  background-color: var(--newGrowth);
  font-family: Arial, Helvetica, sans-serif;
}

.sexyFlexy {
  display: flex;
  flex-direction: column;
}

.sentry {
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
  color: var(--deepGreen);
}

.quest {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

